<div class="tip tip-{{type}} {{direct}}" style="{{#if left}}left:{{left}}px;{{/if}}{{#if top}}top:{{top}}px;{{/if}}{{#if width}}width:{{width}}px;{{/if}}">
    <div class="tip-icon">
    <i class="icon-{{type}}16"></i>
  </div>
  <div class="tip-message">
    <p>{{message}}</p>
  </div>
</div>
