{{#with _DATA_}}
<h3 style="margin-top:0;"><strong>需求团队成员列表</strong></h3>
<table class="table table-striped small-table" style="width:1020px;">
  <thead>
    <tr>
      <th>类型</th>
      <th>姓名</th>
      <th>工号</th>
      <th>手机</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="250">技术</td>
      <td colspan="3" class="inner-table-td">
        <table class="table inner-table" id="tech-member-table">
          {{#each teamList}}
          {{#equals type "1"}}
          <tr class="member-tr" data-name="{{userName}}" data-id="{{id}}" data-mobile="{{userPhone}}" data-number="{{userNumber}}" data-type="{{type}}">
            <td width="30%">{{userName}}</td>
            <td width="30%">{{userNumber}}</td>
            <td width="30%">{{userPhone}}</td>
          </tr>
          {{/equals}}
          {{/each}}
        </table>
      </td>
    </tr>
    <tr>
      <td>质量</td>
      <td colspan="3" class="inner-table-td">
        <table class="table inner-table" id="quan-member-table">
          {{#each teamList}}
          {{#equals type "2"}}
          <tr class="member-tr" data-name="{{userName}}" data-id="{{id}}" data-mobile="{{userPhone}}" data-number="{{userNumber}}" data-type="{{type}}">
            <td width="30%">{{userName}}</td>
            <td width="30%">{{userNumber}}</td>
            <td width="30%">{{userPhone}}</td>
          </tr>
          {{/equals}}
          {{/each}}
        </table>
      </td>
    </tr>
    <tr>
      <td>互动</td>
      <td colspan="3" class="inner-table-td">
        <table class="table inner-table" id="respond-member-table">
          {{#each teamList}}
          {{#equals type "3"}}
          <tr class="member-tr" data-name="{{userName}}" data-id="{{id}}" data-mobile="{{userPhone}}" data-number="{{userNumber}}" data-type="{{type}}">
            <td width="30%">{{userName}}</td>
            <td width="30%">{{userNumber}}</td>
            <td width="30%">{{userPhone}}</td>
          </tr>
          {{/equals}}
          {{/each}}
        </table>
      </td>
    </tr>
    <tr>
      <td>产能</td>
      <td colspan="3" class="inner-table-td">
        <table class="table inner-table" id="deliver-member-table">
          {{#each teamList}}
          {{#equals type "4"}}
          <tr class="member-tr" data-name="{{userName}}" data-id="{{id}}" data-mobile="{{userPhone}}" data-number="{{userNumber}}" data-type="{{type}}">
            <td width="30%">{{userName}}</td>
            <td width="30%">{{userNumber}}</td>
            <td width="30%">{{userPhone}}</td>
          </tr>
          {{/equals}}
          {{/each}}
        </table>
      </td>
    </tr>
    <tr>
      <td>成本</td>
      <td colspan="3" class="inner-table-td">
        <table class="table inner-table" id="cost-member-table">
          {{#each teamList}}
          {{#equals type "5"}}
          <tr class="member-tr" data-name="{{userName}}" data-id="{{id}}" data-mobile="{{userPhone}}" data-number="{{userNumber}}" data-type="{{type}}">
            <td width="30%">{{userName}}</td>
            <td width="30%">{{userNumber}}</td>
            <td width="30%">{{userPhone}}</td>
          </tr>
          {{/equals}}
          {{/each}}
        </table>
      </td>
    </tr>
  </tbody>
</table>
{{/with}}
