{{#each data}}
<tr class="supplier-solution-tr">
  <td>{{supplierName}}</td>
  <td>{{formatPrice technology}}</td>
  <td>{{formatPrice quality}}</td>
  <td>{{formatPrice reaction}}</td>
  <td>{{formatPrice delivery}}</td>
  <td>{{formatPrice cost}}</td>
  <td class="file-show-td" data-file="{{solutionFile}}"></td>
</tr>
{{/each}}
