<tr>
  <td>
    {{content.year1}}
  </td>
  <td>
    {{content.sold1}}
  </td>
  <td>
    {{content.net1}}
  </td>
  <td>
    {{content.mainBusinessProfit1}}
  </td>
  <td>
    {{content.fmanagerCost1}}
  </td>
  <td>
    {{content.preItEarning1}}
  </td>
  <td>
    {{content.preTaxProfit1}}
  </td>
  <td>
    <a href="{{content.inRankFile1}}">{{content.inRankFileName1}}</a>
  </td>
  <td>
    {{content.remark1}}
  </td>
</tr>
 <tr>
  <td>
    {{content.year2}}
  </td>
  <td>
    {{content.sold2}}
  </td>
  <td>
    {{content.net2}}
  </td>
  <td>
    {{content.mainBusinessProfit2}}
  </td>
  <td>
    {{content.managerCost2}}
  </td>
  <td>
    {{content.preItEarning2}}
  </td>
  <td>
    {{content.preTaxProfit2}}
  </td>
  <td>
    <a href="{{content.inRankFile2}}">{{content.inRankFileName2}}</a>
  </td>
  <td>
    {{content.remark2}}
  </td>
</tr>
 <tr>
  <td>
    {{content.year3}}
  </td>
  <td>
    {{content.sold3}}
  </td>
  <td>
    {{content.net3}}
  </td>
  <td>
    {{content.mainBusinessProfit3}}
  </td>
  <td>
    {{content.managerCost3}}
  </td>
  <td>
    {{content.preItEarning3}}
  </td>
  <td>
    {{content.preTaxProfit3}}
  </td>
  <td>
    <a href="{{content.inRankFile3}}">{{content.inRankFileName3}}</a>
  </td>
  <td>
    {{content.remark3}}
  </td>
</tr>
